*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    
}

h1{
    font-size: 50px;
}

#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

form{
    font-size: 20px;
}

button {
  width: 150px;
  height: 35px;
  margin-top: 25px;
  background-color: #fff;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size: 25px;
}

#result {
  font-size: 35px;
  margin-top: 30px;
}

#weight-guide{
    margin: 20px;
    text-align: start;
}
h3{
    text-align: center;
}
p{
    text-align: center;
    margin: 15px;
}